apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    {{- include "haddock.labels" . | nindent 4 }}
spec:
  selector:
    app: redis
  ports:
    - port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}
